.points {
	$points-size: 26px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $points-size;

	.points__total {
	}

	.points__plus {
		font-size: 26px;
	}

	.points__current {
		display: flex;
		align-items: center;

		.current__base-points {
		}
		.current__multiplier {
			margin-left: 2px;
			color: #598144;
			font-size: calc($points-size - 10px);
		}
	}
}
