$color-cell-adjacent: #ffdba4;
$color-cell-adjacent-light: rgb(255, 226, 182);
$color-cell-adjacent-dark: rgb(178, 153, 114);

$color-cell-selected: #ffe9ae;
$color-cell-selected-light: rgb(255, 237, 190);
$color-cell-selected-dark: rgb(178, 163, 121);

$color-cell-last-selected: #ffb3b3;
$color-cell-last-selected-light: rgb(255, 194, 194);
$color-cell-last-selected-dark: rgb(178, 125, 125);

$color-cell-word-is-valid: #c1efff;
$color-cell-word-is-valid-light: rgb(205, 242, 255);
$color-cell-word-is-valid-dark: rgb(135, 167, 178);

$color-background: #ffd6a5;

$color-primary: #a0c4ff;
$color-primary-light: rgb(179, 207, 255);
$color-primary-dark: rgb(112, 137, 178);

$color-secondary: #bdb2ff;
$color-secondary-light: rgb(202, 193, 255);
$color-secondary-dark: rgb(132, 124, 178);

$color-error: #ffadad;
$color-error-light: rgb(255, 189, 189);
$color-error-dark: rgb(178, 121, 121);

$color-warning: #fdffb6;
$color-warning-light: rgb(253, 255, 196);
$color-warning-dark: rgb(177, 178, 127);

$color-info: #9bf6ff;
$color-info-light: rgb(175, 247, 255);
$color-info-dark: rgb(108, 172, 178);

$color-success: #8db285;
$color-success-light: rgb(163, 193, 157);
$color-success-dark: rgb(98, 124, 93);
