@import '/src/client/styles/index.scss';

.row {
	display: flex;

	&__cell {
		display: flex;
		justify-content: center;
		align-items: center;
		width: $cell-size-phone;
		height: $cell-size-phone;
		flex: 1;
		cursor: pointer;
		border: 5px solid transparent;

		@include tablet {
			width: $cell-size-tablet;
			height: $cell-size-tablet;
		}
	}

	&__cell--empty {
		background-color: rgba(0, 0, 0, 0.1);
	}

	&__cell--selected {
		background-color: $color-cell-selected;
		border-color: $color-cell-selected;
	}

	&__cell--valid-word {
		background-color: $color-cell-word-is-valid;
		border-color: $color-cell-word-is-valid;
	}

	&__cell--lastSelected {
		border-color: $color-cell-last-selected;
	}

	&__cell--adjacent:hover {
		background-color: $color-cell-adjacent-light;
		border-color: $color-cell-adjacent-light;
	}
	&__cell--bonus {
		background-color: transparent;
		transform: scale(1);
		animation: pulse 1s infinite;
		animation-direction: alternate-reverse;
		animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

		@keyframes pulse {
			to {
				background-color: $color-cell-last-selected-light;
			}
		}
	}
}
