$cell-width: 50px;
$cell-height: 50px;

$color-cell-adjacent: #ffdba4;
$color-cell-selected: #ffe9ae;
$color-cell-last-selected: #ffb3b3;
$color-cell-word-is-valid: #c1efff;

.row {
	display: flex;

	&__cell {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 1;
		border: 5px solid transparent;

		width: $cell-width;
		height: $cell-height;
		cursor: pointer;
	}

	&__cell--empty {
		background-color: rgba(0, 0, 0, 0.1);
	}

	&__cell--selected {
		background-color: $color-cell-selected;
		border-color: $color-cell-selected;
	}

	&__cell--valid-word {
		background-color: $color-cell-word-is-valid;
		border-color: $color-cell-word-is-valid;
	}

	&__cell--lastSelected {
		border-color: $color-cell-last-selected;
	}

	&__cell--adjacent:hover {
		background-color: lighten($color-cell-adjacent, 15);
		border-color: lighten($color-cell-adjacent, 15);
	}
	&__cell--bonus {
		background-color: transparent;
		transform: scale(1);
		animation: pulse 1s infinite;
		animation-direction: alternate-reverse;
		animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);

		@keyframes pulse {
			to {
				background-color: darken($color-cell-last-selected, 10);
			}
		}
	}
}
