.current-word {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 36px;

	&__icon {
		margin-left: 15px;

		&--search {
			color: yellow;
			cursor: pointer;
		}
		&--exists {
			color: green;
		}
	}
}
