@import '/src/client/styles/colors.scss';

.current-word {
	display: flex;
	height: 50px;
	justify-content: center;
	align-items: center;
	font-size: 36px;

	&__icon {
		margin-left: 15px;

		&--search {
			color: $color-primary;
			cursor: pointer;
		}

		&--exists {
			color: $color-success;
		}

		&--wrong {
			color: $color-error;
		}

		&--loading {
			color: $color-secondary;
			animation: spin 1s infinite linear;

			@keyframes spin {
				from {
					transform: scale(1) rotate(0deg);
				}
				to {
					transform: scale(1) rotate(360deg);
				}
			}
		}
	}
}
